<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value="Data Source=172.16.68.12,1455;Initial Catalog=GHR_GreenCity;Persist Security Info=True;User ID=oos_ghr;Password=@XanhCity123"/>
    <add key="ConnectionStringCC" value="Data Source=172.16.68.12,1455;Initial Catalog=GHR_GreenCity_CC;Persist Security Info=True;User ID=oos_ghr;Password=@XanhCity123"/>
    <add key="Interval" value="5000"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
</configuration>