<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
  <add key="ConnectionString" value="Data Source=172.16.68.12,1455;Initial Catalog=GHR_GreenCity;Persist Security Info=True;User ID=oos_ghr;Password=@XanhCity123" />
  <add key="ConnectionStringCC" value="Data Source=172.16.68.12,1455;Initial Catalog=GHR_GreenCity_CC;Persist Security Info=True;User ID=oos_ghr;Password=@XanhCity123" />
  <add key="Interval" value="21600000" />
  <add key="DateDiff" value="-1" />
</appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>